---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
---

<Layout title="BetterSeqta">
	<h1 class="flex underline decoration-indigo-500 text-6xl place-content-center pb-[5%]">BetterSeqta</h1>
	<Button content="https://github.com/Crazypersonalph/betterseqta"><span>GitHub</span></Button>
	<Button content="privacy"><span>Privacy Policy</span></Button>
</Layout>