---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
---

<Layout title="HyperSEQTA">
	<h1 class="flex underline decoration-indigo-500 text-6xl place-content-center pb-[5%]">HyperSEQTA</h1>
	<Button content="https://chrome.google.com/webstore/detail/hyperseqta/hnbneadgjmefpddchlhefgbkkfbhdebl"><span>Chrome WebStore</span></Button>
	<Button content="https://github.com/Crazypersonalph/hyperseqta"><span>GitHub</span></Button>
	<Button content="privacy"><span>Privacy Policy</span></Button>
</Layout>